src/EX1.X/mcc_generated_files
src/EX1.X/build
src/EX1.X/dist
src/EX1.X/nbproject/Makefile-genesis.properties
src/EX1.X/nbproject/Makefile-variables.mk
src/EX1.X/nbproject/Makefile-default.mk
src/EX1.X/nbproject/private/private.xml
src/EX1.X/viewproject

